<!DOCTYPE html>
<html> 
    <!-- The 404 page needs to be worked on so stylistically, Mbali and Charmaine, you will have to decide who will style this page -->
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
         <div class="main-content">
            {{>header}}
        </div>
    </body>
</html>